.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("../photo/bl.jpg") center no-repeat;
    background-size: cover;
    position: absolute;
    display: none;
    justify-content: space-around;

}

.phone-back{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -100;
    background-size: cover;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url('./../photo/bl.jpg');
    background-size: cover;
    position: absolute;
    z-index: 99;
}

#close {
    display: block;
    padding: 1px;
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 36px;
    color: #6c6c6c;
    cursor: pointer;
    transition: .2s linear;
}



#close:hover {
    transform: rotate(90deg);
    color: #333;
}

.dima {
    width: 100px;
    margin: 50px auto;
    text-align: center;
    padding: 30px 100px;
    background-color: #ffffffb2;
    /* display: none; */
}

.top {
    width: 100%;
    height: 250px;
    margin-top: 60px;

}

.bottom {
    width: 100%;
    height: 350px;
    margin-top: 30px;

}

.left {
    margin-left: 40px;
    width: 25%;
}

.right {
    width: 60%;
    height: 630px;
    margin-top: 60px;
    margin-right: 40px;
}

.top, .right, .bottom {
    background-color: #000000e0;
    border-radius: 7px;

}

/*video*/


/*calendar*/
#calendar2 {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}

tr {
    height: 25px;
}

td {
    cursor: default;
}

#calendar2 thead tr:last-child {
    font-size: small;
    color: #555;
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: #aaa;
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar2 tbody td {
    color: #fff;
}


#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: #ff6363;
}


#calendar2 tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}

/*calendarEnd*/

/*bottom block*/

td input {
    width: 10px;
    background: none;
    border-bottom-style: none;
    outline: none;
    border: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 3px;

}

.square {
    position: relative;
    margin-top: 20px;
    width: 10%;
    height: 35px;
    /*border: 1px solid #fff;*/
    background-color: #111;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    transition: .1s linear;
}

.invisible {
    opacity: 0;
    cursor: default;
}

.square:hover {
    background-color: #222;
}

.row-flex {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 10px auto;
}

.table-hours {
    width: 100%;
}

.bottom table tr {
    height: 50px;
}

.hours {
    text-align: right;
    color: #ff6363;
}

/*end*/

/*month*/

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #666;
}

::-webkit-scrollbar-thumb {
    background-color: #e03636;
    transition: .1s linear;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e31717;
}

::-webkit-scrollbar-button:single-button {
    background-color: #e03636;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
}

::-webkit-scrollbar-button:single-button:hover {
    background-color: #e31717;
}


.month {
    display: flex;
    position: absolute;
    width: 20%;
    height: 32px;
    top: 15px;
    left: 40%;
    z-index: 50;
    overflow-x: scroll;
    border-radius: 8px;

}

.month-item {
    height: 17px;
    align-items: center;
    margin-left: 10px;
    color: #fff;
    background-color: #000000e0;
    font-size: 12px;
    padding: 2px 4px;
    margin-top: 1px;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s linear;
}

.month-item:hover {
    background-color: #e03636;
}

.active {
    background-color: #e03636;
}


.back-to-main {
    position: fixed;
    top: -10px;
    left: 0px;
    color: #444;
    z-index: 50;
    font-size: 40px;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 7px;;
    cursor: pointer;
    transition: .2s linear;
    color: #eee;
    opacity: .3;
    background-color: #000000e0;
}

.back-to-main:hover {
    opacity: 1;
}

/* end */

/*media -------------------------------------- */

@media (max-width: 1200px) {
    .background {
        max-height: 750px;
    }

    .left{
        width: 33%;
    }

    .right{
        width: 55%;
    }
}

@media (max-width: 1000px){


    .left{
        width: 80%;
        margin: 0 auto;
    }


    .bottom{
        width: 40%;
        height: 250px;
        margin-top: 70px;
    }

    .square{
        margin-top: 10px;
        /*line-height: 2px;*/
    }

    .top{
        width: 40%;
        height: 250px;
        margin-top: 70px;
    }

    .row-flex{
        margin: 0px auto;
    }
    #calendar2{
        line-height: 1.8em;
    }



}

@media (max-width: 800px){
    .background{
        background: none;
    }
    .phone-back{
        display: block;
        background: url("../photo/phone3.jpg") center no-repeat;
        background-size: cover;

    }
    .top{
        width: 100%;
        height: 265px;
        margin-top: 80px;
    }
    .bottom{
        width: 100%;
        height: 265px;
        margin-top: 25px;
    }
    .month{
        width: 50%;
        left: 25%;
        height: 55px;
    }
    .month-item{
        padding: 10px 5px;
    }
    .right{
        width: 80%;
        margin: 25px auto;
    }
}

@media (max-width: 500px){
    .phone-back {
        background: url("../photo/phone3.jpg") center no-repeat;
        background-size: cover;
    }
    .month{
        width: 70%;
        left: 15%;
        height: 55px;
    }
    .back-to-main{
        left: -4px;
        opacity: 1;
    }
}

/*end ----------------------------------------------*/